*.svg
*.png
*.json
*.md
*.mdx

*.ttf
*.gz

.eslintignore
.gitignore
.prettierignore
.stylelintignore
.npmrc
Dockerfile.client
Dockerfile.server
.dockerignore
.env*

/build
node_modules
yarn.lock
*.log
*.d.ts
*.config.ts
*.config.js
