.scoresContainer {
  display: flex;
  gap: var(--s-6);
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.scoresWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--s-6);
}

.scoresTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}
