.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--s-6);
}

.logo {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  text-wrap: balance;
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--s-3);
  width: 100%;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  text-wrap: balance;
  margin-top: 0px;
}

.subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
}
