.section {
  margin: var(--s-2) 0;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.title {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
}

.title::after,
.title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 1200px;
  height: 1px;
  background: hsl(var(--border));
}

.title::before {
  right: 100%;
  margin-right: var(--s-2);
}

.title::after {
  left: 100%;
  margin-left: var(--s-2);
}
